<h1 class="mt-4">Dashboard</h1>
<a href="/logout" class="btn btn-danger">Logout</a>
<p class="lead mb-3">Welcome User</p>
<div class="row">
    <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            
            <div class="card-body">
              <h4 class="card-title">Add user</h4>
              
        
              
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">  
            <div class="card-body">
             <a style="text-decoration: none;color:white" href="/upload"><h4 class="card-title">Upload File</h4></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            
            <div class="card-body">
              <h4 class="card-title">Show All Users</h4>
             
        
              
            </div>
          </div>
    </div>
</div>

