
  <div style="margin-top: 20%;">
    <form method="post" action="/uploaddata" enctype="multipart/form-data">
      
        <h1 style="text-align:center;">  Upload Your Files Here</h1>
        <a href="/dashboard" class="btn btn-success btn-lg"   > Go To Dashboard </a>
        <div class="form-group">
          <label for="formFile" class="form-label mt-4">Select Your Files</label>
          <input class="form-control" type="file" id="formFile" multiple>
        </div>
        <input class="btn btn-primary btn-block" type="submit"  >
       
      </form>
  </div>